{% extends "base.html" %}
{% block title %}About TEDx |{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/aboutus.css" />{% endblock %}

{% block m_about %} class="active" {% endblock %}

{% block content %}

 <div id="content">
 <div class="wrapper">
<h1> About TEDx | TEDxNITCalicut</h1>
    <p>
	<strong>x = independently organized event</strong></p>
<p>
	In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organized.</p>
<p>
	The following video highlights the progress TEDx has made over a period of 10 months and was first shown at TED2010 in Long Beach, California on February 11th, 2010.</p>
<p class="rtecenter">
<iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/K3wXI82Y8_0" width="560"></iframe></p>
</div>
</div>
{% endblock %}
