{% extends "base.html" %}
{% block title %}About Us |{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/aboutus.css" />{% endblock %}

{% block m_about %} class="active" {% endblock %}

{% block content %}

 <div id="content">
 <div class="wrapper">
 <div class="aboutus">
<h1> About Us | TEDxNITCalicut</h1>
 <p>
TEDxNITCalicut is an independently organized conference brought forth by a group of diverse and passionate TED enthusiasts under the exclusive license from TED. The conference gathers some active thinkers and doers from entrepreneurs to artists, technocrats to economists and is all about ideas: inspiring, discovering, generating and sharing “Ideas Worth Spreading” in different areas. We believe in sharing the platform with people with great ideas that can not only inspire but also bring fresh perspectives before us to make this world a better place to live.</p>
<p>It is scheduled to take place on <strong>14 January</strong> in Chanakya Hall at <strong><a class="red" href="http://nitc.ac.in/" target="_blank">National Institute of Technology Calicut, Kerala</a></strong>.</p>
<p>Come prepared to break all the bars that have limited your ability to think, create and innovate. We hope you find the event interesting, entertaining and above all inspiring.</p>
<p>In order to participate in the event you must actively contribute to its activities - present an idea, host an activity or contribute to one or just be willing to network with a lot of people.</p>
<p><strong>Participation is subject to registration.</strong></p>
<p>The team has been exploring all sorts of ideas to make this a unforgettable event. Be patient with us and wait until you see what all we have got for you. Till then, <a class="red" href="http://twitter.com/TEDxNITCalicut" target="_blank">join the conversation</a> <a class="red" href="https://www.facebook.com/TEDxNITCalicut?sk=wall" target="_blank">online</a> or <a class="red" href="/contactus/">in person</a> to get involved.</p>
</div>
</div>
</div>
{% endblock %}
