{% extends "base.html" %}
{% block title %}Credits |{% endblock %}


{% block head %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/aboutus.css" />{% endblock %}
{% block content %}

 <div id="content">
 <div class="wrapper">
  <div class="credits">
<h1>Credits</h1>
      
       <dl>
       <dt><strong>Website Team</strong></dt>
       <dd><a class="black" href="https://plus.google.com/103572561582880171863#103572561582880171863/about" target="_blank">Kartik Singhal</a>
       <br />
       <a class="black"  href="http://sudevshares.blogspot.com/" target="_blank">Sudev A C</a>
       <br />
       <a class="black" href="https://www.facebook.com/piyushroshan?sk=info" target="_blank">Roshan Piyush</a>
       </dd><dt><strong>Graphics</strong></dt><dd>Suparna S Nair</dd>
       <dt><strong>Write Ups</strong></dt><dd>
       <a class="black" href="https://ergovivacious.wordpress.com/" target="_blank">Mayukh Goswami</a></dd>
       <dt><strong>Photos</strong></dt>
       <dd><a class="black" href="http://www.facebook.com/pages/Vysakh-Karthikeyan-Photography/192084064151231?sk=info" target="_blank">Vysakh Karthikeyan</a></dd>
       <dt><strong>Brochure Design</strong></dt>
       <dd><a class="black" href="http://seamanhunt.tumblr.com/" target="_blank">Vishnu Maya Sreenath</a></dd>
       </dl>
       </div>
 </div></div>
	
{% endblock %}
