{% extends "base.html" %}

{% block title %}Log In |{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registration.css" />
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"> </script>
{% endblock %}



{% block content %}
<div id="content">
<div class="wrapper">
<div class="loginbox">
{%if not user.is_authenticated %}
<h1>Log In </h1>

{% if form.errors %}
<p class="errors">Please correct the errors below:</p>
<p>{{ form.non_field_errors }}</p>
{% endif %}

<form method="post" action="?next={{ next|default:"/admin/" }}"> {%csrf_token%}
<div class="loginform">
<div id="username">
		<span class="label"><label for="id_username">Username:</label></span><span class="box">{{ form.username }}</span>
		{% if form.username.errors %}<span class="errors">{{ form.username.errors|join:", " }}</span>{% endif %}
</div>


<div id="password">
<span class="label"><label for="id_password">Password:</label></span><span class="box"> {{ form.password }}</span>

		{% if form.password.errors %} <span class="errors">{{ form.password.errors|join:", " }}</span>   {% endif %}
</div>
<button class="sbutton" type="submit" >Log In</button>
</div>
</form>

{%else%}
<p>You are already logged in</p>
{%endif%}

</div>
</div>
</div>
{% endblock %}
