{% extends "base.html" %}

{% block title %}Sign up{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registration.css" />
{% endblock %}



{% block content %}
<div id="content">
<div class="wrapper">
<ul>
  {% if form.errors %}

  <div class="errors">Please correct the errors below: 
  <div>{{ form.non_field_errors }}</div>
  </div>
  {% endif %}

  <h1>Create an account</h1>
  <div class="reg">
  <form method="post" action="" class="wide">{%csrf_token%}
    <div>
       {% if form.username.errors %}
        <div class="errors">{{ form.username.errors.as_text }}</div>
      {% endif %}
      <div class="form_wrapper"><span class="label"> <label for="id_username">Username:</label> </span>  <span class="box"> {{ form.username }}</span></div>
   
   
    </div>
    <div>
        {% if form.email.errors %}
        <div class="errors">{{ form.email.errors.as_text }}</div>
      {% endif %}
      <div class="form_wrapper"><span class="label"> <label for="id_email">Email address:</label></span> <span class="box"> {{ form.email }} </span></div>
  
       
    </div>
    <div>
            {% if form.fname %}
        <div class="errors">{{ form.fname.errors.as_text }}</div>
      {% endif %}
      <div class="form_wrapper"> <span class="label"><label for="id_fname">First Name:</label></span> <span class="box">{{ form.fname }} </span> </div>
     
    </div>
    <div>
       {% if form.lname %}
        <div class="errors">{{ form.lname.errors.as_text }}</div>
      {% endif %}
      <div class="form_wrapper"><span class="label"> <label for="id_lname">Last Name:</label></span> <span class="box"> {{ form.lname }}</span> </div>
        
    </div>
    <div>
         {% if form.password1.errors %}
        <div class="errors">{{ form.password1.errors.as_text }}</div>
      {% endif %}
      <div class="form_wrapper"><span class="label"> <label for="id_password1">Password:</label></span> <span class="box"> {{ form.password1 }} </span></div>
 
       
    </div>
    <div>
    {% if form.password2.errors %}
        <div class="errors">{{ form.password2.errors.as_text }}</div>
      {% endif %}
      <div class="form_wrapper"><span class="label"> <label for="id_password2">Password (type again):</label> </span> <span class="box"> {{ form.password2 }} </span> </div>
      
     
    </div>
       <div>
          {% if form.tos.errors %}
        <div class="errors">{{ form.tos.errors.as_text }}</div>
      {% endif %}
      <div class="form_wrapper"><span> <label for="id_tos"></label></span><div> {{ form.tos }} <a href="#">Terms of service </a> </div> </div>
   
      
    </div >
    <button class="sbutton" type="submit">Register &rarr; </button>
  </form>
  </div>
  </ul>
</div>
  
{% endblock %}

{% block content-related %}
<div id="content">
<div class="wrapper">
<div>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</div>

<div>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</div>

<div>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</div>
</div>
</div>
{% endblock %}
