#content
{
padding-left: 20%;
padding-right: 20%px;
}

#content p
{
padding-left: 100px;
padding-right: 100px;
}
#content h1
{
padding-left: 100px;
color:  #ff2b06;
}

#content a
{
color: #ff2b06;
text-decoration: none;
}
