#space
{
	
	}
	
	#content
{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 10%;

}

#content h2
{
	margin-top: 2em;
	}

#box
{
display: block;

background-color: 000000;
position: static;
margin: 0.5;
padding:  0.5;	
	}
