body
{  background-color: #fff
	background-repeat: repeat;}
/* this div will contain all contents to maintain a fixed width */
.wrapper
{
	position: relative;
	width: 100%;
	height: 1000px;
	
	top: 0;
	margin: 0 0;
	z-index: 9999;
	background-image:url('../images/home/wbck.png');
	background-size: 1280px 768px;
	background-repeat: no-repeat;
	}

.slideshow
{
	position: absolute;
	height: 350px;
	width: 750px;
	top: 140px;
	left: 238px;
	-moz-box-shadow: inset -5px -5px 5px 5px #888;
-webkit-box-shadow: inset -5px -5px 5px 5px#888;
box-shadow: inset -5px -5px 5px 5px #888;
display: block;
        }



.content{
	position: absolute;
		word-spacing: 3px;
	line-height: 20px;
	top: 530px;
	left: 238px;
	color: white;
	background-color: transparent;
	z-index: 10;
	height: auto;
	width: 600px;
	/* transperancy */
	opacity:0.8;
  filter:alpha(opacity=90);
  margin-bottom: 56px;
	}
.content h4
{
margin: 8px;
margin-top: 15px;
}
.content p
{	margin: 16px;
	line-height: 15px;
	}

.blog{
	
	
	
	
	
	}