{% extends "base.html" %}
{% load voting_tags %} 
{% block title %}Choose your Speakers{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}css/nominations.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/nominations/nomination.js"></script>
<script type="text/javascript" src="/static/js/csrf.js"></script>
<div id="content" >
	<h2>Choose your Speakers</h2>
	<h3>Cast your vote</h3>
	{%csrf_token%}

	<table class="listing">
  <thead>
    <tr>
      <th class="num">#</th>
      <th>Proposer</th>
      <th>Speaker</th>
      <th class="num">Comments</th>
      <th>Submitted</th>
      <th class="num">Like</th>
{#	<th class="num">Total Votes</th> #}
        <th>Clear Vote</th>
    </tr>
  </thead>
  
{% for nomination in nominees %}
{% score_for_object nomination as score %}

  <tbody class="link separator"><tr>
        <td class="num"><a href="/5el/424-in-data-we-believe"> {{nomination.id}} </a></td>
        <td colspan="8"><a href="/5el/424-in-data-we-believe"><strong> Title </strong></a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href=""> {{nomination.fullname}} </a></td>
        <td><a href="/5el/424-in-data-we-believe"> {{nomination.fullname}} </a></td>
        <td class="num"><a href="/5el/424-in-data-we-believe">0</a></td>
        <td><a href="/5el/424-in-data-we-believe"> {{ nomination.nominated_on }} </a></td>
        <td class="num"><a href="#" onclick="vote('{{ nomination.slug }}', 'up','{{ nomination.id}}');"><span id="score_{{nomination.id}}"> {{ score.score }}</span> Likes</a></td>
{#      <td class="num"><a href="/5el/424-in-data-we-believe"><span id="num_votes_{{ nomination.id}}"> {{ score.num_votes }} </span></a></td> #}
        <td class="num"><a href="#" onclick="vote('{{ nomination.slug }}', 'clear','{{ nomination.id}}');">Clear Vote</a></td>

      </tr>
    <tbody>


{%endfor%}
</table>


</div>
{% endblock %}
