{% extends "base.html" %}

{% block title %}Log in{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registration.css" />
{% endblock %}



{% block content %}
<div id="content">
<div class="wrapper">
<div class="loginbox">
{%if not user.is_authenticated %}
<h1>Log in</h1>

{% if form.errors %}
<p class="errors">Please correct the errors below:</p>
<p>{{ form.non_field_errors }}</p>
{% endif %}

<form method="post" action="?next={{ next|default:"/" }}">{%csrf_token%}
<div class="loginform">
<div id="username">
		<span class="label"><label for="id_username">Username:</label></span><span class="box">{{ form.username }}</span>
		{% if form.username.errors %}<span class="errors">{{ form.username.errors|join:", " }}</span>{% endif %}
</div>


<div id="password">
<span class="label"><label for="id_password">Password:</label></span><span class="box"> {{ form.password }}</span>

		{% if form.password.errors %} <span class="errors">{{ form.password.errors|join:", " }}</span>   {% endif %}
</div>
<button class="sbutton" type="submit" >Log In</button>
</div>
</form>


<div class="signup" ><a href="/accounts/register/" > Sign Up</a>  Now </div>
{%else%}
<p>You are already logged in</p>
{%endif%}

</div>
</div>
{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.
{% endblock %}