{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div id="content">
<ul>
  {% if form.errors %}

  <div class="errors">Please correct the errors below: 
  <div>{{ form.non_field_errors }}</div
  </div>
  {% endif %}

  <h1>Create an account</h1>
  
  <form method="post" action="" class="wide">{%csrf_token%}
    <div>
    
      <div> <label for="id_username">Username:</label> </div>
      {% if form.username.errors %}
        <div class="errors">{{ form.username.errors.as_text }}</div>
      {% endif %}
     <div> {{ form.username }}</div>
    </div>
    <div>
      <div> <label for="id_email">Email address:</label> </div>
      {% if form.email.errors %}
        <div class="errors">{{ form.email.errors.as_text }}</div>
      {% endif %}
      <div> {{ form.email }} </div>
    </div>
    <div>
      <div> <label for="id_fname">First Name:</label> </div>
      <div> {{ form.fname }} </div>
    </div>
    <div>
      <div> <label for="id_lname">Last Name:</label> </div>
       <div> {{ form.lname }} </div>
    </div>
    <div>
      <div> <label for="id_password1">Password:</label> </div>
      {% if form.password1.errors %}
        <div class="errors">{{ form.password1.errors.as_text }}</div>
      {% endif %}
      <div> {{ form.password1 }} </div>
    </div>
    <div>
      <div> <label for="id_password2">Password (type again to catch typos):</label> </div>
      {% if form.password2.errors %}
        <div class="errors">{{ form.password2.errors.as_text }}</div>
      {% endif %}
      <div> {{ form.password2 }} </div>
    </div>
       <div>
      <div> <label for="id_tos">Tos:</label> </div>
      {% if form.tos.errors %}
        <div class="errors">{{ form.tos.errors.as_text }}</div>
      {% endif %}
      <div> {{ form.tos }} <a href="#>Terms of service </a> </div>
    </div>
    <div class="submit"><input type="submit" value="Register &rarr;"></div>
  </form>
  </ul>
</div>
  
{% endblock %}

{% block content-related %}
<div id="content">
<div>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</div>

<div>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</div>

<div>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</div>
</div>
{% endblock %}
