#content
{
padding-left: 20%;
padding-right: 20%;
}

#content .wrapper
{
	padding: 50px;

}

#content h1
{
color:  #ff2b06;
padding-bottom: 15px;
}

.red
{
color: #ff2b06;
text-decoration: none;
}


.black
{
color: #111;
	}