

#post_content
{
line-height: 15px;	
word-wrap: break-word;
word-spacing: 2px;
}

#post_body p
{
margin-bottom: .4em;
margin-top: .4em;
}


#post_content header
{
	margin-top: 1em;	
	padding: 15px 5px 5px 0px;
	font-weight: bold; 
	color: #ff2b06;
}


#content a
{
color: #ff2b06;
text-decoration: none;
}
	
#post_footer {
	background: none repeat scroll 0 0 #fff;
	border-radius: 5px;
	color: #999999 ;
	margin-bottom: 2em;
	font:10px ubuntu,arial,sans-serif;
}	


#post_footer a
{
	color: #ff2b06;
}
	
#commentlink a
{
	color: #ff2b06;
	
	}
	
	#post_footer p
	{
margin: 0px;		
		}
	


div {
	display: block;
}

#comment_header
{
	padding-top: 2em;
	padding-bottom: 1em;
	
	font: 15px arial,sans-serif;
	font-weight: bold;
	
}

#addc
{
	padding-top: 2em;
	padding-bottom: 1em;
	
	font: 15px arial,sans-serif;
	font-weight: bold;
	
}

#comment #comment_body
{
	font: 12px arial,sans-serif;
}

#comment a
{
	color: #ff2b06;
	text-decoration: none;
}

.captcha
{
	display: block;
	height: 300px;
	}


