#content
{
padding-left:20%;
padding-right:20%;
}

#post_content
{
line-height: 15px;	
word-wrap: break-word;
word-spacing: 2px;
}
#post_content header
{
	padding: 10px 5px 5px 5px;
	font-weight: bold; 
	color: #ff2b06;
}

#content .wrapper
{
padding-left: 50px;
padding-right: 50px; 
}
#content .footer
{
font: Ariel 20px;
}

#content a
{
color: #ff2b06;
text-decoration: none;
}
	
#post_footer {
	background: none repeat scroll 0 0 #111;
	border-radius: 5px;
	color: white;
	margin-top: 1em;
	padding: 5px 10px;
	font:10px ubuntu,arial,sans-serif;
}	

#post_footer #readmore_link
{
	padding-right: 1em;
	padding-left: 1em;
}

#post_footer #comments_link
{
	
	padding-right: 3em;
	padding-left: 1em;
	font-weight: bold;
}
#post_footer a
{
	color: #ff2b06;
}
	
#commentlink a
{
	color: #ff2b06;
	
	}
	
	


div {
	display: block;
}

#comment_header
{
	padding-top: 2em;
	padding-bottom: 1em;
	
	font: 15px arial,sans-serif;
	font-weight: bold;
	
}

#addc
{
	padding-top: 2em;
	padding-bottom: 1em;
	
	font: 15px arial,sans-serif;
	font-weight: bold;
	
}

#comment #comment_body
{
	font: 12px arial,sans-serif;
}

#comment a
{
	color: #ff2b06;
	text-decoration: none;
}


