
#content .wrapper
{
	padding-left: 50px;
	padding-right: 50px;
}

#content table td
{
padding-left: 5px;
padding-top: .5em;
padding-bottom: .5em;
}

.contactform
{
	
height: 600px;	
margin-bottom: 50px;
padding-bottom: 50px;
	}
	
	#content h1
{
color:  #ff2b06;
padding-bottom: 15px;
}

textarea
{
width: 350px;
height: 200px;
	
	}
