
html,
	body {
		margin:0;
		padding:0;
		min-height: 100%;
		height:100%;
	}
	#container {
		min-height:100%;
		position:relative;
		height: 100%;
	}
	#header {
		padding:0;
		background-color: #000000;
		height: 170px;
width: 100%;
margin-left: 0;
margin-right: 0;
 z-index: 10;
	}
	#body {
		padding:10px;
		padding-bottom:100px;	/* Height of the footer */
		min-height: 100%;
	}
	#footer {
		position:relative;
		width:100%;
		margin-top: 50px;
		margin-left: 0;
	margin-right: 0;
		height:150px;			/* Height of the footer */
	}


	</style>
	<!--[if lt IE 7]>
	<style media="screen" type="text/css">
	#container {
		height:100%;
	}
	</style>
	<![endif]-->




#red {
	color: #ff2b06;
}

#red a {
	color: #ff2b06;
	text-decoration: none;
}

.red
{
	
color: #ff2b06;	
	}



body {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #fff;
}

#menud
{
width: 960px;	
margin-left: auto;
display: block;
margin-right: auto;

	}
	
	
	#logo
{

	position:relative;
	display: inline-block;
	background-color: #000000;
	height: 100px;
	display: -moz-inline-stack;
   vertical-align: top;
   zoom: 1;
   padding-left: 50px;
   *display: inline;
   _height: 100px;

}

.event
{
height: 30px;
width: 960px;
padding-top: 15px;
margin-bottom: 0;

display: block;
position: relative;
margin-left: 0;
margin-right: 0;
color: white;
	
	}
	
.event h2
{
	color: #ff2b06;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 25px;
text-shadow:0px 0px 3px #fff;
	
	}

#menuf{
	height:auto;
	position: absolute;
	margin-top: 0;
	display: inline-block;
	width: 500px;
	max-height: 100px;
	margin-left: 50px;
	margin: 5px;
	background: #000;
	display: -moz-inline-stack;
   vertical-align: top;
   zoom: 1;
   *display: inline;
	
}

#menu{
	position: relative;
	height:auto;
	text-align: left;
	margin: 0;
	list-style: none;
	background: #000;
	
}



#menu li{
	float: left;
	padding: 15px 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #ffffff;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #ff2b00;
}

#menu li:hover > a{
	color: #ff2b06;
}

*html #menu li a:hover{ /* IE6 */
color: #ff2b06;
}

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 1;
	background: #444;
	background: -moz-linear-gradient(#444, #111);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
	background: -webkit-linear-gradient(#444, #111);
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 5px;
	border-radius: 5px;
}





#menu ul li{
	float: none;
	margin: 0;
	padding: 0;
	display: block;
	-moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	-webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
	box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#menu ul a{
	padding: 10px;
	height: auto;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

*html #menu ul a{ /* IE6 */
height: 10px;
width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */
height: 10px;
width: 150px;
}

#menu ul a:hover{
	background: #000;
	background: -moz-linear-gradient(#111,  #000);
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#000));
	background: -webkit-linear-gradient(#111,  #000);
	background: -o-linear-gradient(#111,  #000);
	background: -ms-linear-gradient(#111,  #000);
	background: linear-gradient(#111,  #000);
}

#menu ul li:first-child a
{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
	content: '';
	position: absolute;
	left: 30px;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
	border-bottom-color: #ff2b06;
}

#menu ul li:last-child a
{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */


#right-menu a{
color: white;	
text-decoration: none;
	}



#right-menu{
	color: wheat;
	top: 20px;
	position: absolute;
	right: 0;
	padding: 0px 0 0 0;
	margin-left: 620px;
	width:250px;

}
	
#right-menu #user_menu
{
background-color: #000; 
margin-bottom: 20px;
margin-top: 10px;
		 border-top:  1px solid #000;
		 border-left: 4px solid #000;
		 display: block;
		 position: relative;
		 width: 240px;
		 border-right: 4px solid #000;
		 padding-bottom: 5px;
		 border-bottom: : 1px solid #000;
 border-radius: 15px;
	
	}	
	
#fbmenu
{
margin-bottom: 20px;
margin-top: 15px;

		 display: block;
		 position: relative;
		 width: 230px;
		 height: 25px;
 border-radius: 15px;
	
	}
	
	#tweetmenu
{
margin-bottom: 20px;
margin-top: 15px;

		 display: block;
		 position: relative;
		 width: 230px;
		 height: 25px;
 border-radius: 15px;
	
	}

#content .wrapper
{
color: #555;	
	}
	
	
	
#wrappernew
{
	position: relative;
	width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	height: auto;
	}
	
	
	
#wrappernew	.wrapper
	{
	position: relative;
	width: 600px;
	display: block;
	min-height: 100%;
	height: auto;
		}
	
#content .wrapper	body 
{ font: .8em Arial, Tahoma, Verdana; }
#content .wrapper   a 
{ text-decoration: none; color: #ff2b06; }
h1 
{ font-size: 23px font-weight: normal; }
h1 a 
{ font-size: 23px;
text-decoration: none;
 }
h2 
{ font-size: 18px; }
h3 
{ font-size: 18px;  font-weight: normal; margin: 0 0 15px; }
h4 
{ margin: 0 0 15px;  font-weight: normal; font-size: 18px; }
p 
{ clear: 
 line-height: 22px;
  margin: 0 0 15px; }

#right-menu li{
list-style: none;	
color: ff2b06;
margin: 0;
	}



.footercontainer {
	color: white;
margin-left: auto;
margin-right: auto;
    line-height:18px;
    background:#000;
 border-top: 1px solid #ffd;
 border-bottom-color: transparent;
 border-right-color: transparent;
 background: -moz-linear-gradient(#000000, #011);
 background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #011),color-stop(1, #000000));
 background: -webkit-linear-gradient(#000000, #111);
 background: -o-linear-gradient(#000000, #111);
 background: -ms-linear-gradient(#000000, #111);
 background: linear-gradient(#000000, #111);
 height:150px; /* If you change this value, be sure to change the footer's height as well as the column's height. */
 	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}


.footer {
	position: relative;
	margin-top: 20px;
width: 960px;
height: 130px; /* If you change this value, be sure to change the footer column's height as well */
margin-left: auto;
margin-right: auto;
font: 12px Ubuntu,Helvetica,serif;
display: block;
}
 
.col1 {
position: relative;
display: inline-block;
width: 210px;
margin-left: 0px;
margin: 5px;
display: -moz-inline-stack;
vertical-align: top;
zoom: 1;
*display: inline;
}

.col1 span
{
padding-left: 10px;	
}

.col1 img
{
width: 30px;
height: 30px;	
margin: 0;
vertical-align: middle;
padding-right: 5px;
	}
	
.col1 ul
{
margin: 0;
padding-right: 0;	
	}
	
.col1 li
{
	list-style-type: none;	

}
 
.col1 ul li a
{
	font-weight: normal;
	} 
 
 
 
 
 
.col1 ul li a .texts
{
text-align: left;
padding-top:8px;
	}
 
/* This controls how column 2's list items hyperlinks look as well as column 4's hyperlinks - Feel free to change the colours/font family */
.col3 ul li a, .col4 a .col3 a  {
color: #fffff1;
}
/* This controls how the blog footer's hyperlinks look - Feel free to change the colours/font family */
.col3 ul {
color: #ffffff;
padding-right: 80px;
}
 
.col3 {
position: relative;
display: inline-block;
width: 220px;
margin: 5px;
display: -moz-inline-stack;
vertical-align: top;
zoom: 1;
*display: inline;
}
 
.col2 {

position: relative;
display: inline-block;
width: 220px;
margin: 5px;
display: -moz-inline-stack;
vertical-align: top;
zoom: 1;
*display: inline;
}

.footer a{
color: white;	
text-decoration: none;
	}

 
.col4 {
position: relative;
display: inline-block;
width: 210px;
margin-left: 5px;
margin-top: 30px;
line-height: 18px;
word-spacing: 3px;
display: -moz-inline-stack;
vertical-align: top;
zoom: 1;
*display: inline;
}

.licence
{
position: relative;
display: block;
text-align: left;	
	}
	
	.licencet
{
	position: relative;
	margin-top: 20px;
	display: block;
	text-align: left;	
	}

.powerby
{
margin-top: 30px;
margin-left: 15px;	
display: block;
	}





.errors
{
font-style: italic;
position: relative;
font-size: 10px;
color: #ff2b06;
}




