#content .wrapper
{
	padding-left: 50px;
}

#content .wrapper h3
{
color: red;	
	}


.form-item
{
	padding-bottom: 1em;
	display: block;
	width: auto;
}

.form-itemt
{
	padding-bottom: 2em;
	display: block;
	width: auto;
	}

.input
{
display: inline-block;	
	}

.phone-number
{
	border-radius: 5 px;	
}

.form-item .errors
{
margin-left: 185px;
padding-left: 10px;	
	}

.form-itemt .errors
{
padding-left: 20px;	
	}

.form-item label
{
	padding-bottom: .1em;
	font-weight : normal;
	text-align: right;
	font: 12px/12px Arial,Helvetica,sans-serif;
	display: inline-block;
	width: 185px;
}


.form-itemt label
{
	font: 12px/12px Arial,Helvetica,sans-serif;
	padding-bottom: .1em;
	font-weight : bold;
}

.form-item .description
{
	padding-bottom: .1em;
	font-weight: lighter;
	font: 10px/10px Arial,Helvetica,sans-serif;
}

.form-itemt .description
{
	padding-bottom: .1em;
	margin-left: 10px;
	font-weight: lighter;
	font: 12px/12px Arial,Helvetica,sans-serif;
}

fieldset
{
border-radius:5px;	
margin-bottom: 50px;
	}
	
.captcha
{
min-height: 100px;
display: block;
position: relative;
height: 100px;

}

.submit-button {
	border-color: #777;
	background: #000000;
	background-image:url('../images/home/wbck.png');
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
	background: -webkit-linear-gradient(top, #000000, #000000);
	background: -moz-linear-gradient(top, #000000, #000000);
	background: -ms-linear-gradient(top, #000000, #000000);
	background: -o-linear-gradient(top, #000000, #000000);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #e80c0c;
	font-size: 18px;
	margin:  20px 0 10px 10px;
	padding: 3px 3px 3px 3px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
	width:100px;
	height:auto;
}
.submit-button:hover {
	border-color: #fff;
	background: #000203;
	color: #e30000;
}
.submit-button:active {
	border-color: #fff;
	background: #0d1012;
}

textarea
{
width: 80%;
margin-right: 20px;
margin-left: 10px;
border-radius: 5px;
border: 1px solid #999;
	}
	
input
{
border: 1px solid #999;
border-radius: 2px;
width: 200px;
}


