#content .wrapper
{
	padding-left: 50px;
}

#content .wrapper h3
{
color: red;	
	}


.form-item
{
	padding-bottom: 1em;
	display: block;
	width: 500px;
}

.input
{
display: inline-block;	
	}

.phone-number
{
	border-radius: 5 px;	
}

.form-item .errors
{
margin-left: 170px;
padding-left: 10px;	
	}

.form-item label
{
	padding-bottom: .1em;
	font:12px arial,sans-serif;
	font-weight : inherit;
	display: inline-block;
	width: 170px;
}

.form-item .description
{
	padding-bottom: .1em;
	font-weight: lighter;
	font: 10px/10px Arial,Helvetica,sans-serif;
}

fieldset
{
border-radius:5px;	
margin-bottom: 50px;
	}
	
	

.submit-button {
	border-color: #777;
	background: #000000;
	background-image:url('../images/home/wbck.png');
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
	background: -webkit-linear-gradient(top, #000000, #000000);
	background: -moz-linear-gradient(top, #000000, #000000);
	background: -ms-linear-gradient(top, #000000, #000000);
	background: -o-linear-gradient(top, #000000, #000000);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #e80c0c;
	font-size: 18px;
	margin:  50px 0 10px 10px;
	padding: 3px 3px 3px 3px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
	width:100px;
	height:auto;
}
.submit-button:hover {
	border-color: #fff;
	border-width: medium;
	background: #000203;
	color: #e30000;
}
.submit-button:active {
	border-color: #fff;
	background: #0d1012;
}

textarea
{
width: 400px;
border-color: #999;
border-left-width: 2px;
border-top-width: 2px;
	
	}
	



