#space
{

}

#content .wrapper
{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
}

#content
{
padding-left: 20%;
padding-right: 20%;

}

#content h2
{
	margin-top: 2em;
}

#box
{
display: block;
min-height: 150px;
background-color: 000000;
position: relative;
margin: 0.5;
padding:  0.5;
}

.rteright
{
	display:block;

}