body
{ 
background-repeat: repeat;}
/* this div will contain all contents to maintain a fixed width */


#wrappernew
{
	position: relative;
	width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	}
	
	
	
	.wrapper
	{
	position: relative;
	width: 600px;
	display: block;
	height: 100%;
		}
	
	#header
	{
height: 650px;		
		}
		
.black
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;

	 background-color: #000;
	 height: 500px;
	 width: 100%;
	}


.center
	{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	}

.slideshow
{
	top: 45px;
	height: 380px;
	width: 740px;
	position: absolute;
background-color: #000;
display: block;
   }

body
{
	color: #111;
	}

.content{
	
	/* transperancy */
	opacity:0.8;
  filter:alpha(opacity=90);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 56px;
	}
	
	.bgwrapper
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100%;
	width: 1284px;
	background-image:url('../images/home/wbck.png');
	background-size: 320px 320px;
	background-position: left top;
	background-repeat: no-repeat;
	
	}
	
	
#content-wrapper{	
position: absolute;
	word-spacing: 3px;
	line-height: 26px;
	margin-left: 0;
	color: #111;
	background-color: transparent;
	z-index: 10;
	height: auto;
	width: 600px;
	display: inline-block;
}
	
.content h3
{
margin: 8px;
margin-left: 18px;
margin-top: 15px;


}
.content p
{	
	margin: 16px;
	line-height: 18px;
}

.about
{
	width: 300px;
  display: block;
  position: absolute;

	}


.blog-home
{
width: 300px;;
margin-left: 300px;
display: block;
position: relative;
	}


#post_footer {
	border-radius: 5px;
	margin-top: 1em;
	font:10px ubuntu,arial,sans-serif;
}	

#post_footer  .detail{
word-spacing: 1px;
}	

#post_footer #readmore_link,#comments_link
{
	font-size: 12px;
}

#post_footer 
{
padding-right: 1em;
}
#post_footer a
{
	color: #ff2b06;
	text-decoration: none;
}
	
	
	
	
	
	}