body
{ 
background-repeat: repeat;}
/* this div will contain all contents to maintain a fixed width */


#wrappernew
{
	position: relative;
	width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	}
	

	.wrapper
	{
	position: relative;
	width: 600px;
	display: block;
	height: 100%;
		}
	
	#header
	{
height: 650px;		
		}
		
.black
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;

	background-color: #000;
	height: 510px;
	min-width: 100%;
	}


.center
	{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	}

.slideshow
{
	top: 45px;
	height: 380px;
	width: 740px;
	position: absolute;
background-color: #000;
display: block;
   }

body
{
	color: #111;
	}

.content{
	
	/* transperancy */
	opacity:0.8;
  filter:alpha(opacity=90);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 56px;
	}
	
	.bgwrapper
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100%;
	width: 100%
	background-image:url('../images/home/wbck.png');
	background-size: 280px 280px;
	background-position: left top;
	background-repeat: no-repeat;
	
	}
	
	
#content-wrapper{	
	position: relative;
	word-spacing: 3px;
	line-height: 26px;
	margin-left: 0;
	color: #111;
	background-color: transparent;
	z-index: 10;
	height: auto;
	width: 610px;
	display: block;
}
	
.content h3
{
margin: 8px 0 0 8px;
margin-left: 18px;
margin-top: 15px;
}
.content p
{	
	margin: 16px;
	line-height: 18px;
}

.about
{
	width: 300px;
  display: inline-block;
  position: relative;

}

.gridleft
{
	width: 300px;
  display: inline-block;
  position: relative;

}

.gridleft img
{
	border:2px solid #ddd;
	width: 200px;
	height:150px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}


.gridright
{
	width: 300px;
  display: inline-block;
  position: relative;
	
}

.gridright img
{
	border:2px solid #ddd;
	border-radius: 10px;
	width: 200px;
	height:150px;
	margin-left: auto;
	margin-right: auto;
}

.grid h3
{
margin-bottom: 5px;
font-size: 15px;
width: 200px;
text-align: center;
}

.grid h3 a
{
color: #ff2b06;
text-decoration: none;
}

.grid p
{
	margin-top: 0px;
}

.blog-home
{
width: 300px;
display: inline-block;
vertical-align: top;
position: relative;
	}


#post_footer {
	border-radius: 5px;
	margin-top: 1em;
	font:10px ubuntu,arial,sans-serif;
}	

#post_footer  .detail{
word-spacing: 1px;
}	

#post_footer #readmore_link,#comments_link
{
	font-size: 12px;
}

#post_footer 
{
padding-right: 1em;
}
#post_footer a
{
	color: #ff2b06;
	text-decoration: none;
}
	
