/* Reset */


/* Showcase
-------------*/

#awOnePageButton .view-slide
{
	display: none;
}

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load
{
	height: 400px; /* Same as showcase javascript option */
	overflow: hidden;
}

/* Container when content is shown as one page */
.showcase-onepage
{
	/**/
}

/* Container when content is shown in slider */
.showcase
{
	position: relative;
	margin: auto;
}

	.showcase-content-container
	{
		background-color: #000;
	}

	/* Navigation arrows */

	.showcase-arrow-previous, .showcase-arrow-next
	{
		position: absolute;
		background: url('../images/arrows-small.png');
		width: 15px;
		height: 15px;
		top: 422px;
		cursor: pointer;
	}

	.showcase-arrow-previous
	{
		left:30px;
		background-position: 0px -14px;
	}

	.showcase-arrow-previous:hover
	{
		background-position: 0px -14px;
	}

	.showcase-arrow-next
	{
		right: 30px;
		background-position: 0px -0px;
	}

	.showcase-arrow-next:hover
	{
		background-position: -0px -0px;
	}

	/* Content */
	.showcase-content
	{
		background-color: #000;
		text-align: center;
	}

		.showcase-content-wrapper
		{
			text-align: center;
			height: 400px;
			width: 820px;
			display: table-cell;
			vertical-align: middle;
		}

		/* Styling the tooltips */
		.showcase-plus-anchor
		{
			background-image: url('../images/plus.png');
			background-repeat: no-repeat;
		}

		.showcase-plus-anchor:hover
		{
			background-position: -32px 0;
		}

		div.showcase-tooltip
		{
			background-color: #fff;
			color: #000;
			text-align: left;
			padding: 5px 8px;
			background-image: url(../images/white-opacity-80.png);
		}

		/* Styling the caption */
		.showcase-caption
		{
			color: #fff;
			padding: 8px 15px;
			text-align: left;
			position: absolute;
			bottom: 2px; left: 10px; right: 10px;
			border-radius: 5px;
			display: none;
			background-color: #111;

		}

	.showcase-onepage .showcase-content
	{
		margin-bottom: 10px;
	}

	/* Button Wrapper */
	.showcase-button-wrapper
	{
		clear: both;
		margin-top: 10px;
		text-align: center;
	}

		.showcase-button-wrapper span
		{
			margin-right: 3px;
			padding: 2px 5px 0px 5px;
			cursor: pointer;
			font-size: 12px;
			color: #444444;
		}

		.showcase-button-wrapper span.active
		{
			color: #fff;
		}

	/* Thumbnails */



/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear
{
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	float: none;
}

