{% extends "base.html" %}
{% block title %}{{u_name}}'s Posts |{% endblock %}
{% block m_blog %} class="active" {% endblock %}
{% block head %} <link rel="stylesheet" href="{{STATIC_URL}}css/blog.css" /> {% endblock %}


{% block content %}
	
<div id="content" >
<div class="wrapper">
		<!-- Posts  -->
		
		
		<ul>
		<h4>{{u_name}}'s Posts</h4>
			<article>
				{% for post in posts.object_list %}
				
					<section>
					<div id="post_content">
							<header>
								<h3><a href="{% url blogs.views.post post.pk %}">{{ post.title }}</a></h3>
							</header>
						
							{% autoescape off %}  
								<div id="post_body">{{ post.body|linebreaks|truncatewords:100}}</div> 
							{% endautoescape %}
							
							<footer>
							<p><span id="red"> <a class="readmore" href="{% url blogs.views.post post.pk  %}">read more..</a> </span> <span id="comments_link"><a href="{% url blogs.views.post post.pk %}">Comments</a></span></p>
								<div id="post_footer">
										<p>Posted on &nbsp;{{post.created}}.</p>
								</div>
							</footer>
							</div>
					</section>
					
				{% endfor %}
			</article>	
		</ul>

		<!-- Next/Prev page links  -->
		{% if posts.object_list and posts.paginator.num_pages > 1 %}
		<div  style="margin-top: 20px; margin-left: -20px; ">
			<span >
				{% if posts.has_previous %}
					<a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
				{% endif %}

				<span >
					&nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
				</span>

				{% if posts.has_next %}
					<a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
				{% endif %}
			</span>
		</div>
		{% endif %}
</div>
	</div>

{% endblock %}
