{% extends "base.html" %}
{% block title %}Blog Posts{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/blog.css" />
<div id="content" >

			<!-- Posts  -->
			<ul>
				<article>
					<section>
							<header>
								<h1>{{ post.title }}</h1>
							</header>
							{% autoescape off %}  <div >{{ post.body|linebreaks }}</div> {% endautoescape %}
							<footer>
								<div id="post_footer">
									Posted By &nbsp;  <a href="mailto:{{post.email}}">{{post.name}}&nbsp; </a> on &nbsp;{{post.created}}.
								</div>
							</footer>
					</section>
				</article>	
			

		<!-- Comments  -->
		<div>
			{% if comments %}
				<div id="comment_header">Comments:</div>
			{% endif %}

			{% for comment in comments %}
				<div id="comment">
					<div id="comment_body">{{ comment.body|linebreaks }}</div>
					<div id="post_footer">Posted by &nbsp; <a href="mailto: {{ comment.email }}"> {{comment.name}} </a> &nbsp; on &nbsp; {{comment.created}} </div>
					
				</div>
			{% endfor %}

			<div id="addc">Add a comment</div>
				<!-- Comment form  -->
				<form action="{% url 'blogs.views.add_comment' post.id %}" method="POST">{% csrf_token %}
					<div id="cform">
						<div id="cname_wrapper"">
							<label for="id_name">Name :	</label>
							<div id="cname">{{form.name}}</div>
						</div>
						<div id="cemail_wrapper">
							<label for="id_email">Email : </label>
							<div id="cemail">{{form.email}}</div>
						</div>
						<div id="cbody_wrapper">
							<label for="id_body">Your Message : </label>
							<div id="cbody">{{form.body}}</div>
						</div>
					</div>

					<div class="submit-button">
							<input type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</ul>
</div>
{% endblock %}
