<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=”UTF-8”>
<link rel="shortcut icon" href="http://tedxnitcalicut.com/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon" />
<title>{% block title %}TEDXNitc{% endblock %}</title>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
{% block head %} {% endblock %}

</head>
<link rel="stylesheet" href="{{STATIC_URL}}css/hf.css" />
<body>
{% block header %}
	<div id="header">
	<div id="logo">
<img src="{{STATIC_URL}}images/logo.png" border="0" width="100%" height="100em"></img>
</div>
		<nav>
			<ul id="menu">
				<li><a href="/">Home</a></li>

				<li><a href="/organisers/">Organisers</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/nominate/">Nominate</a></li>

				<li><a >About</a>
					<ul>
					<li><a href="/about/ted/">TED</a></li>
					<li><a href="/about/tedx/">TEDx</a></li>
					<li><a href="/about/tedxnitcalicut/">TEDxNITCalicut</a></li>
					</ul>
				</li>
				<li> <a href="/contactus/">Contact us </a> </li>

			</ul>
		</nav>
	</div>
{% endblock %}




<div id="container">

        {% block content %}{% endblock %}


</div>
{% block footer %}



<div id="footer">

 <div id="center">

   <div id="left_footer"><b>Find Us On</b>
	  <ul>
     <li> <a "href=https://www.facebook.com/TEDxNITCalicut?sk=wall"><img src={{STATIC_URL}}images/socials/FaceBook.png  /></a> </li>
     <li> <a href="https://twitter.com/TEDxNITCalicut">  <img src={{STATIC_URL}}images/socials/Twitter.png  />  </a> </li>
     <li> <a href="http://www.youtube.com/user/tedxnitcalicut"> <img src={{STATIC_URL}}images/socials/Youtube.png  /> </a> </li>
     <li> <a href="http://www.flickr.com/photos/tedxnitcalicut/7034667221/in/photostream"> <img src={{STATIC_URL}}images/socials/Flickr.png  /> </a> </li>
     <li> <a href="https://plus.google.com/u/0/114378286842619164063/">	<img src={{STATIC_URL}}images/socials/Google.png  />     </a> </li>
     </ul>
     <span id="copyright">&copy; TEDxNITCalicut </span>
   </div>
	 <div id="right_footer">
	 <b>{{user.get_full_name}}</b>
	<ul>
	{% if user.is_authenticated %}
		<li> <a href="/accounts/logout/">Log Out</a></li>
		<li> <a href="/accounts/profile/">Account</a></li>
		{%else%}
			<li> <a href="/accounts/login/">Log In</a></li>
			{%endif%}
	</ul>
	<div>
       <a href="/credits/">CREDITS</a>
       <a href="/contactus/">CONTACTUS</a>
       <a href=#>SERVICES</a>
       <a href="/sponsers/">PARTNERS</a>
       </div>
   </div>
   <div>

   </div>



 </div>
</div>
{% endblock %}
</body>
</html>
