{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}slideshow/css/style1.css" />
<script type="text/javascript" src="{{STATIC_URL}}slideshow/jquery.aw-showcase.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />





{% endblock %}


{% block m_home %} class="active" {% endblock %}

{% block slideshow %}
<script type="text/javascript">
$(document).ready(function()
{
	$("#showcase").awShowcase(
	{
		content_width:			760,
		content_height:			390,
		fit_to_parent:			true,
		auto:					true,
		interval:				3000,
		continuous:				true,
		loading:				true,

		arrows:					true,
		buttons:				true,
		btn_numbers:			true,
		keybord_keys:			true,
		mousetrace:				false, /* Trace x and y coordinates for the mouse */
		pauseonover:			true,
		stoponclick:			false,
		transition:				'fade', /* hslide/vslide/fade */
		transition_delay:		0,
		transition_speed:		500,
		show_caption:			'show', /* onload/onhover/show */
		thumbnails:				false,
		thumbnails_position:	'outside-last', /* outside-last/outside-first/inside-last/inside-first */
		thumbnails_direction:	'vertical', /* vertical/horizontal */
		thumbnails_slidex:		1, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
		dynamic_height:			false, /* For dynamic height to work in webkit you need to set the width and height of images in the source. Usually works to only set the dimension of the first slide in the showcase. */
		speed_change:			true, /* Set to true to prevent users from swithing more then one slide at once. */
		viewline:				false, /* If set to true content_width, thumbnails, transition and dynamic_height will be disabled. As for dynamic height you need to set the width and height of images in the source. */
		custom_function:		null /* Define a custom function that runs on content change */
	});
});
</script>

<div class="bgwrapper">
<div class="center">


	<div class="slideshow">
		<div id="showcase" class="showcase">

			<div class="showcase-slide">
				<div class="showcase-content">
					<img src="{{STATIC_URL}}slideshow/images/slide1.jpg" alt="01" />
				</div>
				<div class="showcase-caption">
					Prof. Krishna Rao Jaisim lighting lamp <a href="http://www.flickr.com/photos/tedxnitcalicut/6900663505">Photo from flickr</a>
				</div>

			</div>
			<div class="showcase-slide">
				<div class="showcase-content">
					<img src="{{STATIC_URL}}slideshow/images/slide3.jpg" alt="03" />
				</div>
				<div class="showcase-caption">
					Violinist Aathira <a href="http://www.flickr.com/photos/tedxnitcalicut/6888564184/">Photo from flickr</a>
				</div>
			</div>
			<div class="showcase-slide">
				<div class="showcase-content">
						<img src="{{STATIC_URL}}slideshow/images/slide2.jpg" alt="01" />
				</div>
				<div class="showcase-caption">
				Hari from Stray Factory <a href="http://www.flickr.com/photos/tedxnitcalicut/6888564184/"> Photo from flickr</a>
				</div>
			</div>


		</div>
	</div>
</div>
</div>

{% endblock %}




{% block content %}




<div class="wrapper">


<div class="center">
	<div id="content-wrapper">
	<div class="about">
		<div class="content">
		<div id="cursive">
			
			<h3> What is <span class="red" id="red"> TEDx </span> ? </h3>
			
			<p>In the spirit of ideas worth spreading, TED has created a program called TEDx.
			 TEDx is a program of local, self-organized events that bring people together to share a TED-like experience.
			  Our event is called TEDxNITCalicut, where x = independently organized TED event.
			   At our TEDxNITCalicut event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group.
			    The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized. </p>
		</div>
		</div>
	</div>
	<div class="blog-home">
		<div class="content">
		<div id="cursive" >
		<h3><span id="red"><a href="{% url blogs.views.post post.pk  %}">{{post.title}}</a></span></h3>
				{% autoescape off %}  
						<div id="post_body">	{{ post.body|linebreaks|truncatewords:50}} <span id="red"> <a class="readmore" href="{% url blogs.views.post post.pk  %}">read more..</a> </span> </div> 
				{% endautoescape %}
			<div id="post_footer">
											<p class="detail">Posted By <a href="{% url blogs.views.list_user post.user_id  %}">{{post.user_id.get_full_name}} </a> on {{post.created}}.</p>
			
											<p> <span id="readmore_link"><a class="readmore" href="/blog/">View Blog </a></span> </p>
											
			</div>
		</div>
		</div>
	</div>
	</div>
<div id="content-wrapper">
	<div class="grid">
		<div class="gridleft">
			<div class="content">
				<div id="cursive">
					<h3><a href="/nominate">Nominate a Speaker</a></h3>
						<p><a href="/nominate"><img class="with-border" src="{{STATIC_URL}}images/icons/icon-nominate.png"></a></p>
				</div>
			</div>
		</div>
		<div class="gridright">
			<div class="content">
				<div id="cursive">
						<h3><a href="/partners">Be a Sponser</a></h3>
							<p><a href="/partners"><img class="with-border" src="{{STATIC_URL}}images/icons/icon-sponsor.png"></a></p>

				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>
{% endblock %}