{% extends "base.html" %}
{% block title %}Partners |{% endblock %}

{% block rightmenu %} {% endblock %}
{% block content %}
<div id="space">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/partners.css" />
<div id="content">
<div class="wrappers">
<div class="contentbox">
	<div class="platinum">
		<p><img style="vertical-align: top; border: 0px solid black;" src="{{STATIC_URL}}images/partners/profoundis_logo.PNG" alt="" width="800" height="190" /></p>
		<span class="platinum_desc"> Online Presense Partner </span>
		<hr />


	</div>
</div>
</div>
</div>
</div>
{% endblock %}