{% extends "base.html" %}
{% block title %}Partners |{% endblock %}

{% block rightmenu %} {% endblock %}
{% block content %}
<div id="space">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/partners.css" />
<div id="content">
<div class="wrappers">
<div id="partners_content">
<p>TEDxNITCalicut is a not-for-profit event brought forth by a group of diverse and passionate TED enthusiasts under the exclusive license from TED. The event will witness some active thinkers and doers - from entrepreneurs to artists, technocrats to economists and is all about ideas: inspiring, discovering, generating and sharing “Ideas Worth Spreading” in different areas. The event will be open to a precisely curated audience coming from various fields. The talks will be recorded and made available online to a wider audience.<p>

<p>As a not-for-profit event organized entirely by local and unpaid volunteers, TEDxNITCalicut cannot happen without the help of supporting partners. By becoming a TEDxNITCalicut partner you partake in an engaging discussion in a vibrant group of participants. You also help bring together organizations and individuals who want to be the change agents that fuel a local and global conversation leading to a positive change. Last but not the least, becoming a TEDxNITCalicut partner helps pave the way for a long term partnership with TED and TEDx around a common vision of leveraging ideas, technologies, design and education to help create a better future.</p>

<p>We seek both in-kind and financial partnership. Please review our Partnership Brochure to determine the best way for your company and organization to join TEDxNITCalicut. The sooner you can get involved, the more exposure you will get. Thanks and we look forward to hear from you soon.</p>
<h4 > <a class="red" href="{{STATIC_URL}}files/TEDxNITCalicut-sponsorship-brochure.pdf"> Download our Partnership Brochure</a></h4>
</div>
<div class="contentbox">
	<div class="platinum">
		<p><a href="#"><img style="vertical-align: top; border: 0px solid black;" src="{{STATIC_URL}}images/partners/profoundis_logo.PNG" alt="" width="800" height="190" /></a></p>
		<span class="platinum_desc"> Online Presence Partner </span>
		<hr />


	</div>
</div>
</div>
</div>
</div>
{% endblock %}