{% extends "base.html" %}
{% load voting_tags %} 
{% block title %}Choose your Speakers{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{STATIC_URL}}css/blog.css" />
<div id="content" >
	<h2>Choose your Speakers</h2>
	<h3>Cast your vote</h3>

{% for nomination in nominees %}

{% score_for_object nomination as score %}
<h5>Votes <span id="score">{{ score.score }}</span> point{{ score.score|pluralize }}
	         after <span id="num_votes">{{ score.num_votes }}</span> vote{{ score.num_votes|pluralize }}</h5>
	 <ul>
		     <li><a href="#" onclick="vote('{{ object.slug }}', 'up');">I like it!</a></li>
		         <li><a href="#" onclick="vote('{{ object.slug }}', 'down');">I hate it!</a></li>
			     <li><a href="#" onclick="vote('{{ object.slug }}', 'clear');">I take it back! Clear my vote.</a></li>
		     </ul>


<p>{{nomination.fname}} {{nomination.lname}}
<br/>{{nomination.description}}</p>
{%endfor%}

</div>
{% endblock %}
